/*=========================================================================
|
|   file:    styling.css
|   descr:   Individual Styling of jQuery.popeye-Boxes
|   version: 1.1.1 - 2008/11/11 11:11
|
|   ------------------------------------------------------------------------
|
|   author:   Christoph Schuessler
|   aut. url: http://herr-schuessler.de
|
================================================================================*/

h2 {
    font:           normal 2.8em/1em Georgia, 'Times New Roman', serif;
    color:          #d7df9b;
}
a:focus, a:active {
  outline: none;
}
em {
    font-style:     normal;
    font-weight:    bold;
}
.popeye-stagewrap {
    background-color:#333;
}
.popeye-stage {
    border:         1px solid #d2d2d2;
    border-bottom:  1px solid #ffffff;
    border-right:   1px solid #ffffff;
    cursor:         pointer;
}
.popeye-tools-wrap {
    font-size:      11px;
    color:          #767676;
}
.popeye-cap {
    height:         50px;
    margin:         10px 0 0 0;
    clear:          both;
    line-height:    1.1em;
}
.popeye-hasjs {
    padding:        10px !important;
}
.popeye-isloading {
    background:     #333 url(loading.gif) no-repeat center;
}
.popeye-haspopped {
    border:         1px solid #333 !important;
    background:     #000 !important;
}
.popeye-haspopped .popeye-stage {
    border:         1px solid #333;
    background:     #333;
}

/* style 1 */
.popeye {
    float:          left;
    padding-right:  20px;               /* allow for fallback scrollbars */
    margin:         20px 30px 20px 0;
    background:     #f0f0f0;
    border:         1px solid #bababa;
    border-bottom:  1px solid #d8d8d8;
    border-right:   1px solid #d8d8d8;
}
.popeye .popeye-tools {
    padding:        10px 0;
    border-bottom:   1px solid #d8d8d8;
}
.popeye .popeye-tools span{
    float:          left;
    line-height:    18px;
}
.popeye .popeye-tools a {
    display:        block;
    float:          left;
    height:         20px;
    line-height:    18px;
    color:          #266e80;
    text-decoration:none;
    text-align:     center;
}
.popeye .popeye-tools a:hover {
    color:          #8f8f8f;
}
.popeye .popeye-prev {
    background:     url(prev-1.png) no-repeat;
    width:          44px;
    padding:        0 4px 0 12px;
}
.popeye .popeye-next {
    float:          right !important;
    text-align:     right;
    background:     url(next-1.png) no-repeat;
    width:          44px;
    padding:        0 12px 0 4px;
}
.popeye .popeye-enlarge {
    background:     url(enlarge-1.png) no-repeat;
    margin:         0 0 0 10px;
    width:          46px;
    padding:        0 4px 0 16px;

}
.popeye .popeye-count {
    margin:         0 0 0 10px;
}

/* style 2 */
#popeye2 {
    float:          right;
    padding-right:  20px;               /* allow for fallback scrollbars */
    margin:         20px 0 20px 30px;
    background:     #f0f0f0;
    border:         1px solid #bababa;
    border-bottom:  1px solid #d8d8d8;
    border-right:   1px solid #d8d8d8;
}
#popeye2 .popeye-tools {
    margin:         10px 0 0 0;
    padding:        6px;
    background:     #e9e9e9;
    border:         1px solid #FFF;
    border-bottom:  1px solid #bababa;
    border-right:   1px solid #bababa;
}
#popeye2 .popeye-tools span,
#popeye2 .popeye-tools a {
    display:        block;
    float:          left;
    height:         22px;
    line-height:    22px;
}
#popeye2 .popeye-tools a {
    height:         0px !important;
    padding-top:    22px;
    width:          22px;
    border:         1px solid #e9e9e9;
    overflow:       hidden;
}
#popeye2 .popeye-tools a:hover {
    background-color:#f0f0f0;
    border:         1px solid #bababa;
    border-bottom:  1px solid #d8d8d8;
    border-right:   1px solid #d8d8d8;
}
#popeye2 .popeye-prev {
    background:     url(prev-2.png) no-repeat center;
}
#popeye2 .popeye-next {
    float:          right !important;
    background:     url(next-2.png) no-repeat center;
}
#popeye2 .popeye-enlarge {
    background:     url(enlarge-2.png) no-repeat center center;
    margin:         0 0 0 10px;
}
#popeye2 .popeye-count {
    background:     url(count-2.png) no-repeat left center;
    padding:        0 0 0 20px;
}
#popeye2 .popeye-count {
    margin:         0 0 0 10px;
}
